doc/crackr/keywords.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://wadl.dev.java.net/2009/02">
	
	<resources base="http://localhost:8080/">
		<resource path="rake" id="Rake">
			<method name="POST" id="rake"> 
				<request>
					<representation mediaType="text/plain" />
				</request>
				<response status="200">
					<representation mediaType="application/json" /> 
         		</response>
			</method>
		</resource>
		<resource path="naive" id="Naive">
			<method name="POST" id="naive"> 
				<request>
					<representation mediaType="text/plain" />
				</request>
				<response status="200">
					<representation mediaType="application/json" /> 
         		</response>
			</method>
		</resource>
		<resource path="crackr" id="Crackr">
			<method name="POST" id="crackr"> 
				<request>
					<representation mediaType="text/plain" />
				</request>
				<response status="200">
					<representation mediaType="application/json" /> 
         		</response>
			</method>
		</resource>
	</resources>
</application>